<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/product/editProduct}" th:object="${productEdit}" method="post">
    <input type="hidden" th:field="*{id}"/>
    Product Name
    <input th:field="*{name}" th:value="${productEdit.name}">
    <br>
    Product Price
    <input th:field="*{price}" th:value="${productEdit.price}">
    <br>
    Describe Product
    <input th:field="*{describe}" th:value="${productEdit.describe}">
    <br>
    Producer
    <input th:field="*{producer}" th:value="${productEdit.producer}">
    <br>
    <button>save</button>
</form>
</body>
</html>